.singleServices {
        width: 100%;
        min-height: 50vh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.singleServices-left {
        flex-basis: 100%;
        position: relative;
}

.singleServices-left h1 {
        /* text-transform: capitalize; */
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.1;
        font-size: 60px;
        background-color: #5b81b0;
        background-image: linear-gradient(45deg, #5b81b0, #000);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.sub-title {
        position: absolute;
        left: 110px;
        top: 60px;
        color: rgba(46, 46, 54, .03);
        font-size: 100px;
        line-height: .8em;
        font-weight: 700;
        text-transform: capitalize;
        z-index: -1;
        width: 100%;
        height: 110%;
}


.description {
        margin: 100px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: #f9f9f9;
        height: 70vh;
        /* padding-inline: 100px; */
        gap: 50px;
        /* border: 5px solid red; */



        /* 
      
       
        margin-top: 400px;
        
         */
}

.description-left {
        flex-basis: 40%;
        position: relative;
        margin-top: 0px;
        /* margin-left: 5%; */
}

.description-right {
        flex-basis: 56%;
        margin-top: 50px;
        margin-right: 5%;

}


.description-image {
        width: 80%;
        border-radius: 40px;
        object-fit: cover;
        margin-left: -5px;
        height: 650px;
        /* width: 500px;
        height: 720px;
        border-radius: 40px;
        */

}


.description h3 {
        font-weight: 600;
        font-weight: 16px;
        color: #5b81b0;
        text-transform: uppercase
}

.description h2 {
        font-size: 35px;
        color: #000f38;
        margin: 10px 0;
        max-width: 400px;
}

.description p {
        color: #676767;
        margin-bottom: 15px;
        text-align: justify;

}


.singleServices-title {
        text-align: center;
        /* color: #212ea0; */
        color: #5b81b0;
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 200px 0 30px;
}

.singleServices-title p p {
        text-decoration: underline;
}




/* proba 2 */

.proba2 {
        border-bottom: 1px solid #797979;

}

.proba2 li p {
        margin: 0;
        line-height: 1.6;
        color: #676767;
}

.proba2 ol {
        list-style: none;
        counter-reset: list;
        padding: 0 1rem;

}

.proba2 li {
        position: relative;
        counter-increment: list;
        max-width: 45rem;
        margin: 2rem auto;
        padding: 2rem 1rem 1rem;
        box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
        border-radius: 0.25rem;
        overflow: hidden;
        background-color: white;
}

.proba2 li::before {
        /* --stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2)); */

        content: '';
        display: block;
        width: 100%;
        height: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #5b81b0, #5b81b0 20%, #5b81b0 10%, #fff 75%);


        /* background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop)); */
}

.proba2 li h3 {
        display: flex;
        align-items: baseline;
        font-size: 22px;

        color: #5b81b0;

}

.proba2 li h3::before {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
        content: counter(list);
        padding: 1rem;
        border-radius: 50%;
        background-color: #5b81b0;
        color: white;
}

@media (min-width: 400px) {
        .proba2 li {
                margin: 3rem auto;
                padding: 3rem 2rem 2rem;
        }

        .proba2 li h3 {
                font-size: 15px;
                margin: 0 0 2rem;
        }

        .proba2 li h3::before {
                margin-right: 1rem;
                font-size: 20px;
                width: 8%;
                height: 1rem;
        }

        .proba2 li p{
                font-size: 12px;
        }
}

/* za kardot */




/* media query */

@media (max-width:800px) {
        .singleServices {
                flex-direction: column;

        }

        .singleServices-left {
                flex-basis: 100%;
                margin: 20px;
                margin-top: 200px;

        }

        .singleServices-left h1 {
                font-size: 40px;



        }

        .singleServices-left h2 {
                display: none;
        }

        .description {
                flex-direction: column;
padding: 0 20px 0 20px;
        }

        .description-left {
                /* flex-basis: 100%;
        margin: 20px;
        order: 2; */
                display: none;
        }

        .description-right {
                flex-basis: 100%;
        }

        .description-right p{
                font-size: 14px;
        }
        .singleServices-title {
                flex-direction: column;
                margin-top: 350px;
        }

        .servicePart {
                flex-wrap: wrap;
        }

        .servicePart-left {
                margin-bottom: 50px;
        }

        .servicePart-left,
        .servicePart-right {
                flex-basis: 100%;
                width: 90%;


        }

        .servicePart-right .icon,
        .servicePart-left .icon {
                width: 90px;
                height: 90px;
        }

        .servicePart-left .icon::before,
        .servicePart-right .icon::before {
                font-size: 45px;
                ;
        }

        .servicePart-right .icon::after,
        .servicePart-left .icon::after {
                display: none
        }

        .servicePart-right .content h2,
        .servicePart-left .content h2 {
                font-size: 1em;
                margin-left: 50px;
                text-align: justify;
                width: 90%;


        }

        .servicePart-right .content p,
        .servicePart-left .content p {
                margin: 45px 10px 0 10px;
        }

}