/* Секција */
.experience {
    text-align: center;
    padding: 50px;
    background: #f9f9f9;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  
  /* Контейнер за карти */
  .experiencecards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Карти */
  .experiencecard {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .experiencecard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .experiencecard i {
    font-size: 1.5rem;
    color: #006F7B;
    margin-bottom: 15px;
  }
  
  .experiencecard h3 {
  
    margin-bottom: 10px;
   
  }
  
  .experiencecard p {
   
    text-align:left;
    line-height: 1.3;
  }
  
  /* Респонзивност */
  @media (max-width: 1200px) {
    .experiencecards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .experiencecards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .experiencecards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 400px) {
    .experiencecards {
      grid-template-columns: 1fr;
    }
  }
  