/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bower&display=swap" rel="stylesheet'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Bower', Georgia, 'Times New Roman', serif; */
  /* font-family: "Outfit", sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.6; /* Добра читливост */

}

body {
  background: #f5f5f5;
}
/* novo */

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #006F7B;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #717171;
}

/* do ovde */
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

/* outfitfont */

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  background: #5b81b0;
  color: #fff
}

/* media query */

@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn {
    padding: 14px 22px;
  }
}